/*aside toc*/
#TableOfContents {
  position: fixed;
  top: 0;
  right: 10%;
}
#TableOfContents ul {
  font-weight: 600;
  padding-left: 10px;
  position: relative;
  font-size: 15px;
}
#TableOfContents ul:first-child::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  bottom: 0;
  width: 2px;
  background-color: #ebedef;
  opacity: 0.8;
}
#TableOfContents ul > li > a {
  position: relative;
  padding-left: 16px;
  line-height: 20px;
  @include catalogRound(0, 6px);
}
#TableOfContents ul ul,
#TableOfContents ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#TableOfContents ul ul > li > a {
  font-size: 14px;
  color: #333333;
  padding-left: 36px;
  font-weight: 500;
  position: relative;
  @include catalogRound(20px, 5px);
}
#TableOfContents ul ul > ul > li > a {
  line-height: 20px;
  font-size: 14px;
  color: #333333;
  padding-left: 50px;
  font-weight: normal;
  @include catalogRound;
}
#TableOfContents ul a {
  color: #000;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 0 4px 12px;
}
#TableOfContents ul a:hover {
  background-color: #ebedef;
}
.active {
  color: #ffffff;
  background-color: #ebedef;
}
