---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import Tag from "../../components/Tag.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Base pageTitle="tags">
  <h2>All Tags</h2>
  <div class="grid grid-cols-12 gap-4 self-center place-items-start">
    {
      tags.map((tag) => (
        <div class="col-span-3">
          <Tag name={tag} />
        </div>
      ))
    }
  </div>
</Base>
