---
import FormattedDate from "../components/FormattedDate.astro";
import { HOMEPAGE_POSTS_NUM } from "../consts";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";
import Social from "../components/Social.astro";
import { Image } from "astro:assets";
import Avatar from "../assets/avatar.jpg";
import { Content as Intro } from "../pages/intro.md";
import Chinese from "../components/Chinese.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, HOMEPAGE_POSTS_NUM);
---

<Base>
  <main class="text-justify text-lg">
    <div
      class="bg-db-yellow p-2 px-4 border border-solid border-db-yellow-light"
    >
      <Intro />
    </div>

    <Social />
    <div>
      <h3>
        <span class="text-db-green"
          >Recent Posts&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</span
        >
        <span>( <a href="/blog">All</a> )</span>
      </h3>
      <div class="flex flex-col items-start space-y-4">
        {
          posts.map((post) => (
            <div class="space-x-2">
              <a href={`/blog/${post.slug}/`} class="">
                {post.data.title}
              </a>
              <FormattedDate date={post.data.pubDate} />
              <Chinese post={post}/>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Base>
