---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
const color =
  "text-center font-medium text-green-700 text-lg hover:bg-green-700 hover:color-white";
---

<a href={href} class:list={[color, className, { active: isActive }]} {...props}>
  <slot />
</a>
