---

---

<div class="my-12 space-y-2">
  <h3 class="text-db-green">
    Find me on&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
  </h3>
  <div class="flex items-center space-x-4">
    <div class="flex items-center space-x-2">
      <img height="24" width="24" src="https://cdn.simpleicons.org/douban" />
      <a href="https://www.douban.com/people/218724191/" target="_blank">
        <span class="text-xl">Douban</span>
      </a>
    </div>
    <div class="flex items-center space-x-2">
      <img height="32" width="32" src="https://cdn.simpleicons.org/twitter" />
      <a href="https://twitter.com/chaojie_cn" target="_blank">
        <span class="text-xl">Twitter</span>
      </a>
    </div>
    <div class="flex items-center space-x-2">
      <img height="32" width="32" src="https://cdn.simpleicons.org/github" />
      <a href="https://github.com/ischaojie" target="_blank">
        <span class="text-xl">Github</span>
      </a>
    </div>
  </div>
</div>
