---
const social = [
  { name: "Douban", uri: "https://www.douban.com/people/218724191/" },
  { name: "Twitter", uri: "https://twitter.com/chaojie_cn" },
  { name: "Github", uri: "https://github.com/ischaojie" },
];
---

<div class="my-12 space-y-2">
  <h3 class="text-db-green">
    Find me on&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
  </h3>
  <div class="flex items-center space-x-4">
    {
      social.map(({ name, uri }) => (
        <div class="flex items-center space-x-2">
          <img
            height="24"
            width="24"
            src={`https://cdn.simpleicons.org/${name}`}
          />
          <a href={`${uri}`} target="_blank">
            <span class="text-xl">{name}</span>
          </a>
        </div>
      ))
    }
  </div>
</div>
