{% extends "base.html" %}

{% block title %}
{{ super() }} | {{ page.title }}
{% endblock title %}

{% block ogtitle %}{{ super() }} | {{ page.title }}{% endblock ogtitle %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl %}

{% block content %}
<div class="">
    {% if page.path != '/about/' %}
    <div class="d-flex justify-content-between" style="margin-bottom: 18px;">
        <div>{{ page.date | date(format="%Y-%m-%d") }}</div>
        {% if page.taxonomies.tags %}
        <i class="fas fa-tags"></i>
        <ul class="list-inline list-inline-dots mb-0">
            {% for tag in page.taxonomies.tags %}
            <li class="list-inline-item">
                <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag, lang=page.lang) | safe }}">#{{tag}}</a>
            </li>
            {% endfor %}

        </ul>
        {% endif %}
    </div>
    {% endif %}
    <h1>{{ page.title | safe }}</h1>
    <p>{{ page.content | safe }}</p>
    {% if page.path != '/about/' %}
        {% if config.extra.giscus %}
        <script src="https://giscus.app/client.js" data-repo="{{ config.extra.giscus.repo | safe }}"
            data-repo-id="{{ config.extra.giscus.repo_id | safe }}" data-category="{{ config.extra.giscus.category }}"
            data-category-id="{{ config.extra.giscus.category_id | safe }}" data-mapping="{{ config.extra.giscus.mapping }}"
            data-strict="0" data-reactions-enabled="1"
            data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme" data-lang="zh-CN"
            data-loading="lazy" crossorigin="anonymous" async>
            </script>
        {% endif %}
    {% endif %}

</div>
{% endblock content %}
